# SQLAlchemy

This notebook demonstrates how to load documents from an [SQLite] database,
using the [SQLAlchemy] document loader.

It loads the result of a database query with one document per row.

[SQLAlchemy]: https://www.sqlalchemy.org/
[SQLite]: https://sqlite.org/

## Prerequisites

In [33]:
#!pip install langchain termsql

Provide input data as SQLite database.

In [34]:
%%file example.csv
Team,Payroll
Nationals,81.34
Reds,82.20

Overwriting example.csv

In [35]:
!termsql --infile=example.csv --head --delimiter="," --outfile=example.sqlite --table=payroll

Nationals|81.34
Reds|82.2

## Usage

In [36]:
from langchain.document_loaders.sqlalchemy import SQLAlchemyLoader
from pprint import pprint

loader = SQLAlchemyLoader(
    "SELECT * FROM payroll",
    url="sqlite:///example.sqlite",
)
documents = loader.load()

In [37]:
pprint(documents)

[Document(page_content='Team: Nationals\nPayroll: 81.34', metadata={}),
 Document(page_content='Team: Reds\nPayroll: 82.2', metadata={})]

## Specifying Which Columns are Content vs Metadata

In [38]:
loader = SQLAlchemyLoader(
    "SELECT * FROM payroll",
    url="sqlite:///example.sqlite",
    page_content_columns=["Team"],
    metadata_columns=["Payroll"],
)
documents = loader.load()

In [39]:
pprint(documents)

[Document(page_content='Team: Nationals', metadata={'Payroll': 81.34}),
 Document(page_content='Team: Reds', metadata={'Payroll': 82.2})]

## Adding Source to Metadata

In [40]:
loader = SQLAlchemyLoader(
    "SELECT * FROM payroll",
    url="sqlite:///example.sqlite",
    source_columns=["Team"],
)
documents = loader.load()

In [41]:
pprint(documents)

[Document(page_content='Team: Nationals\nPayroll: 81.34', metadata={'source': 'Nationals'}),
 Document(page_content='Team: Reds\nPayroll: 82.2', metadata={'source': 'Reds'})]